html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(250, 248, 244);
}
.container{
  padding: 0;

}
.main__flex__container{
  height: 100vh;
}
.flex__main__components{
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
.cursor-pointer{
  cursor: pointer;
}