.container{max-width:900px;}

.admin__user__topup{
    max-width:5rem;
}
.admin__component{
    padding: 20px;
    height: 90vh;
}
.admin__users{
    max-width: 350px;
}
.admin__dashboard__main{
    height: 80vh;
    overflow-y: scroll;
}