.merchant__main{
    position: relative;
}

.create__new__item__button{
    border-radius: 25px;
   font-weight: 600;
    padding: 10px;
    margin:10px;
}
.header__main,.merchant__footer__main{
    background-color: rgb(58, 58, 58);
    color:rgb(243, 240, 235);
    position: relative;
    z-index:10;
}

.BiMenu{
    font-size: 3.5rem;
    cursor: pointer;
}
.FaUserCircle, .FcShop,.GrDocumentTime,.AiOutlineDollar {
    font-size: 2rem;  

}
.mb-10{
    margin-bottom: 5rem;
}
.merchant__orders{
    min-width: 320px;
}
.merchant__order__status{
    font-size: 1.2rem;
   text-shadow: 2px 2px 8px lawngreen ;
}
.merchant__manage__orders__main,.merchant__menu__main{
    min-height:90vh;
}